
<style>

  footer{
    height: 200px;
    background-color: black;
    color: white;

  }

  li,a{
    color:red;

  }

</style>
<hr>

<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row" style="padding:50px; background-color: black; ">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <img src="/assets/mango_excer.png"style="height:90px">
          <p>Here you can use rows and columns to organize your footer content.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate
              esse
              quasi, veritatis totam voluptas nostrum.</p>
      </div>

      <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Quick Links</h5>

      <ul class="list-unstyled">

        <li>
          <%= link_to 'Privacy Policy', home_privpolicy_path %>
        </li>
<br>
        <li>
          <%= link_to 'Terms', home_privpolicy_path %>
        </li>

      </div>

      <hr class="clearfix w-100 d-md-none">
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
          <h5 class="font-weight-bold text-uppercase mb-4">Important Links</h5>
        <ul class="list-unstyled">

        <li>
        <i class="fa fa-home" aria-hidden="true"> <%= link_to 'Home', root_path %> </i>
        </li>
<br>
          <li>
            <a href="https://wa.me/+918369489762?text=Hi%20Eric,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20your%20business!" style="text-decoration: none;" target="_blank">
            	 <img src="https://i.ibb.co/N9P0K9H/239px-Whats-App-svg.png" width="50" height="50"/>
            </a>

            <a href="https://wa.me/+918369489762?text=Hi%20Eric,%20I%20am%20sending%20you%20this%20message%20because%20I%20am%20interested%20in%20your%20business!" target="_blank">
              Send Us a Message
            </a>
          </li>

<br>
          <li>
            <p>
              <i class="fas fa-print mr-3"></i> Become an affiliate
            </p>
          </li>

        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none">
        <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
          <h5 class="font-weight-bold text-uppercase mb-4">Follow Us To Keep yourself Healthy</h5>

            <a type="button" class="btn-floating btn-fb" href="https://www.facebook.com/">
              <i class="fab fa-facebook-f" style="padding:20px; font-size:22px"></i>
            </a>

            <a type="button" class="btn-floating btn-tw" href="https://twitter.com/?lang=en" >
              <i class="fab fa-twitter"style="padding:20px; font-size:22px"></i>
            </a>

            <a type="button" class="btn-floating btn-gplus" href="https://www.instagram.com/">
              <i class="fab fa-instagram"style="padding:20px; font-size:22px"></i>
            </a>

            <a type="button" class="btn-floating btn-dribbble" href="https://www.linkedin.com/feed/">
              <i class="fab fa-linkedin"style="padding:20px; font-size:22px "></i>
            </a>
      </div>
    </div>
  </div>

  <div class="footer-copyright text-center py-3" style="color:black; font-weight:bold">
      <hr>© 2021 Copyright: Being Ambitious<br>Made with ❤️ by Being Digital
  </div>

</footer>
