
    <style>
      .center{
        text-align:center;
      }

      .backg{
        background-image: url("/assets/backg.jpg");
        height: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .banner1{
        background-image: url("/assets/banner1.jpg");
        position:relative;
        width:100%;
        height:300px;
        background-repeat: no-repeat;
        background-size:contain;
        background-position:center;
      }

      .banner{
        background-image: url("/assets/banner.jpg");
        position:relative;
        width:200%;
        height:auto;
        background-repeat: no-repeat;
        background-size:cover;
        background-position:center;
      }

      .banner2{
        background-image: url("/assets/social.jpg");
        position:relative;
        width:1260px;
        height:200px;
        padding:0px;
      }

      .whitebg{
        background-color:white;
      }

      .shadow{
        border: 1px solid;
        padding-right: 10px;
        padding-bottom: 10px;
        box-shadow: 5px 10px #c5c5c5;
        border-radius:15px;
      }

      .shadowr {
        box-shadow: 8px 3px 5px 6px #c5c5c5;
      }
      .card{
        border-radius:12px;
      }
      .butt{
        background-color: white;
        border-radius:50px;
        color: black;
        padding: 20px;
        text-align: center;
        font-size: 16px;
        margin: 4px 2px;

      }
      .socialb{
        font-size:24px;
        color:red;
        padding:20px;
        border:1px solid black;
        background-color:white;
        border-radius:50%;
      }
    </style>

  <div class="container">
      <h1 class="center"><img src="/assets/mango_exc.jpg"style="width:140px; padding-right:20px">
        About Nutritional Heaven
        <img src="/assets/mango_surp.jpg"style="width:140px; padding-right:20px">
      </h1>
        <p style="text-align:center">
            We're a small company focused on providing tools and support for people who want to take control over their nutrition.
            Given the saturation of information in the diet industry, we focus on more pragmatic elements of healthy eating such as
            planning, shopping and cooking.
        </p>

    <br>
      <p style="text-align:center">
          This site is the latest part of our ongoing project to make effective nutrition strategies available to everyone,
          especially people who are too busy to get started on their own. What began as Swole.me, a simple tool to help bodybuilders
          hit macronutrient requirements created by just Louis, has grown into the current service supported by a small and dedicated
          team.
      </p>
    </div>

  <div class="banner2" style=" width:auto">
      <br>
  <div class="center">
    <h3 style="font-weight:bold; background-color:white;" >Follow us on</h3> <br>
      <a href="https://www.instagram.com/">
        <i class="fa fa-instagram socialb" aria-hidden="true"></i>
          </a>

          <a href="https://www.facebook.com/">
              <i class="fa fa-facebook socialb" aria-hidden="true"></i>
          </a>

          <a href="https://www.Twitter.com/">
              <i class="fa fa-twitter socialb" aria-hidden="true"></i>
          </a>

          <a href="https://www.linkedin.com/">
              <i class="fa fa-linkedin socialb" aria-hidden="true"></i>
          </a>
    </div>
  </div>

    <div class="container center">
      <h2>Check out the catchy ETM jingle, <br> made by the awesome team at Being Ambitious</h2>

      <iframe width="1260" height="315" src="https://www.youtube.com/embed/Wr7NkBZzbho"
      frameborder="0" allow="accelerometer; 400pxplay; clipboard-write; encrypted-media;
      gyroscope; picture-in-picture" allowfullscreen style="width:100%;">
        </iframe>
      </div>

          <div class="container"style="padding-top:40px" style="width:auto;  padding:10px">
            <div class="center">
              <h1>OUR HEALTHCARE PARTNERS</h1> <br>
                <img src="/assets/partners.jpg" class="img-fluid" alt="Responsive image">
            </div>
          </div>
<br>
<div class="container-fluid">
  <div class="row">
    <div class="backg">
      <div class="center">
        <br>
          <h1 style="color:red; font-weight:bold;">Our Success Stories</h1>
            </div>
              <div id="carouselMultiItemExample" class="carousel slide carousel-dark text-center" data-mdb-ride="carousel">
                <div class="carousel-inner py-4">
                  <div class="carousel-item active">

                        <div class="col-lg-4" >
                          <img src="https://mdbootstrap.com/img/new/standard/nature/181.jpg" style="border-radius:50%; width:250px; height:250px" class="shadowr"/>
                            <div class="shadow">
                              <div class="card">
                                <div class="card-body">
                                  <h3 class="card-title"style="margin:0px">First name Last name </h3> <br>
                                    <p class="card-text">
                                      27-year old Homemaker. Mother. Lost post-pregnancy weight <br><br>
                                      "I had made up my mind that I had to lose weight. I was seeking guidance when I found HealthifyMe online"
                                    </p>
                                </div>
                              </div>
                            </div>
                          </div>

                        <div class="col-lg-4">
                          <img src="/assets/testi.jpg" style="border-radius:50%; width:250px; height:250px;"class="shadowr"/>
                            <div class="shadow">
                              <div class="card">
                                <div class="card-body">
                                  <h3 class="card-title"style="margin:0px">First name Last name </h3> <br>
                                    <p class="card-text">
                                      27-year old Homemaker. Mother. Lost post-pregnancy weight <br><br>
                                      "I had made up my mind that I had to lose weight. I was seeking guidance when I found HealthifyMe online"
                                    </p>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="col-lg-4">
                          <img src="https://mdbootstrap.com/img/new/standard/nature/181.jpg" style="border-radius:50%; width:250px; height:250px"class="shadowr"/>
                            <div class="shadow">
                              <div class="card">
                                <div class="card-body">
                                  <h3 class="card-title"style="margin:0px">First name Last name </h3> <br>
                                    <p class="card-text">
                                      27-year old Homemaker. Mother. Lost post-pregnancy weight <br><br>
                                      "I had made up my mind that I had to lose weight. I was seeking guidance when I found HealthifyMe online"
                                    </p>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <br>
            <div class="container-fluid">
              <div class="row">
                  <div class="banner1">
                    </div>
              </div>
            </div>
<br>
          <div class="container-fluid">
            <div class="row">
              <div class="banner">
                <div class="col-lg-4">
                  <h3 style="color:white; padding:60px">Discover a healthier you! <br> For more feaatures download our app</h3>
                </div>

                <div class="col-lg-4" style="padding:60px">
                  <a href="https://play.google.com/store/apps/details?id=com.healthifyme.basic">
                    <button class="button butt"> <img src="/assets/gbutton.jpg" style="width:20px"> GOOGLE PLAY</button>
                  </a>
                </div>

                <div class="col-lg-4" style="padding:60px">
                  <a href="https://play.google.com/store/apps/details?id=com.healthifyme.basic">
                    <button class="button butt"> <img src="/assets/phone.jpg" style="width:20px"> CONTACT US </button>
                  </a>
                </div>

              </div>
            </div>
          </div>
