<style>
  .backg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/corp1.jpg");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
  }
  .bann{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/cyclef.jpg");
    height: auto;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
  }

  .yoga{
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url("/assets/yoga.jpg");
    width:auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding:150px;
  }
.cont{
  color:white;
   text-align:center;
   padding-top:120px;
  }

  h2, h3{
    color:white
  }
</style>

      <div class="backg">
         <div class="container cont">
            <h1 style="color:white;"> A CORPORATE WELLNESS<br>
                PROGRAM THAT WORKS!<br> <br>
                Improve your employee engagement with India’s<br>
                Largest & Most Loved Fitness website
           </h1> <br>

            <button type="button" class="btn btn-danger">
              Request a  Demo
            </button>

          </div>
        </div>

          <div class="container" style="padding-top:30px">
              <h1 style="text-align:center; font-weight:bold;">
                INDIA'S FIRST CHOICE FOR WORKPLACE WELLNESS
              </h1>
            <img src="/assets/logos.jpg" style="width:100%; max-width:auto">
          </div>

<br>
      <div class="bann">
          <div class="container">

              <div class="col-lg-6">
                <h2 style="padding-top:50px">
                  WHAT MAKES US EFFECTIVE
                </h2>
              </div>

            <div class="col-lg-3">
                <h3>High Engagement</h3>
            <ul>
              <li>Marketing & Promotion</li>
              <li>Fitness & Nutrition drives</li>
              <li>Moderated health Clubs</li>
              <li>Registration Kiosks</li>
            </ul>

            </div>

            <div class="col-lg-3">
              <h3>App Based Gamified Process</h3>
                <ul>
                <li>Leaderboard</li>
                <li>Teams</li>
                <li>Moderated health Clubs</li>
                <li>Tasks & Objectives</li>
                </ul>
            </div>

            <div class="col-lg-6">
            </div>

            <div class="col-lg-3">
              <h3>Health Delivered</h3>
              <ul>
                <li>Highly Qualified Coaches</li>
                <li>Diet & Workout Plans</li>
                <li>Content Educate Users</li>
                <li>Personalised Coaching</li>
              </ul>
            </div>

            <div class="col-lg-3">
              <h3>Measurable Impact</h3>
                <ul>
                  <li>Monthly Company Report</li>
                  <li>Individual Progress</li>
                  <li>Actionable Insight</li>
                  <li>Dashboards</li>
                </ul>
             </div>
          </div>
        </div>

      <h2 style="color:black; text-align:center; font">OUR CLIENTS HAVE WITNESSED</h2> <br>
        <div class="container">

          <div class="col-lg-3">
            <p style="color:red; text-align:center; font-weight:bold; font-size:40pt">
              17% <br>
            </p>
            <p style="color:black; text-align:center; font-size:20pt">
              Reduction in Medical Cost
            </p>
          </div>

            <div class="col-lg-3">
              <p style="color:red; text-align:center; font-weight:bold; font-size:40pt">
                59% <br>
              </p>
              <p style="color:black; text-align:center; font-size:20pt">
                Improvement in employee engagement in India
              </p>
            </div>

            <div class="col-lg-3">
              <p style="color:red; text-align:center; font-weight:bold; font-size:40pt">
                50% <br>
              </p>
              <p style="color:black; text-align:center; font-size:20pt">
                increase in physical activity
              </p>
            </div>

            <div class="col-lg-3">
              <p style="color:red; text-align:center; font-weight:bold; font-size:40pt">
                4kg <br>
              </p>
              <p style="color:black; text-align:center; font-size:20pt">
                of avg weight lost per employee
              </p>
            </div>

          </div>
          <div class="container-fluid"style="paddig:0px">
            <div class="yoga">
                <h1 style="color:white; text-align:center">Corporate wellness <br> solution at your fingertips</h1>
              </div>
          </div>
