<style>
  .heal{
    background-image: url("/assets/health.jpg");
    height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 100px;
  }
  </style>
  <div class="heal">
  <h1 style="color:white;">Extending care<br>
beyond the Hospital<br> </h1>
<h2 style="color:white;">Get your organisation on board <br>
India's Leading Digital Lifestyle Modification Platform </h2>
</div>

<div class="container">
  <div class="col-lg-6">
  <img src="/assets/howorks.jpg" style="width:800px">
  <div class="col-lg-6">
  <h1>How it works ? </h1> <br>
<h2 stylestyle="text-align:left;"> Nutritionists work with patients on critical<br>
areas of diet adherence and patient motivation once the<br>
patient leaves the consultation room </h2>
  </div>

  <div class="container">
    <div class="col-lg-6">
    <h1>How it works ? </h1> <br>
  <h2 stylestyle="text-align:left;"> Nutritionists work with patients on critical<br>
  areas of diet adherence and patient motivation once the<br>
  patient leaves the consultation room </h2>
  <div class="col-lg-6">
  <img src="/assets/heal2.jpg" style="width:800px">
    </div>

    <div class="container">
      <div class="col-lg-6">
      <img src="/assets/heal3.jpg" style="width:800px">
      <div class="col-lg-6">
      <h1>How it works ? </h1> <br>
    <h2 stylestyle="text-align:left;"> Nutritionists work with patients on critical<br>
    areas of diet adherence and patient motivation once the<br>
    patient leaves the consultation room </h2>
      </div>

      <div class="container" style="padding-top:30px">
      <h1 style="text-align:center; font-weight:bold;">INDIA'S FIRST CHOICE
    FOR WORKPLACE WELLNESS</h1>
    <div class="col-lg-3">
    <i class="fa fa-eyedropper" style="font-size:36px"></i>
    <h2 For Physicians>
    </h2>
    <ul>
    <li>Best in class digital experts mapped to doctors </li>
    <li>Clinical dietitians, diabetes educators and internationally certified exercise yoga coaches </li>
    <li>Regular lifestyle reports give greater visibility and patient connect post consultation </li>
    </ul>


    <div class="col-lg-3">
    <i class="fa fa-eyedropper" style="font-size:36px"></i>
    <h2 For Physicians>
    </h2>
    <ul>
    <li>Best in class digital experts mapped to doctors </li>
    <li>Clinical dietitians, diabetes educators and internationally certified exercise yoga coaches </li>
    <li>Regular lifestyle reports give greater visibility and patient connect post consultation </li>
    </ul>



      
